body {
    font-family: Arial, sans-serif;
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px gray;
  }
  
  input, button {
    padding: 10px;
    margin: 10px;
  }
  